


.label-fresh{
    font-family: $font-Mont-Regular;
    font-weight: 400;
    font-size: 14px;
    color: #333;
}
.input-fresh{
    position: relative;
    font-family: $font-Mont-Regular;
    font-weight: 400;
    font-size: 13px;
    color: #333;

    height: 32px;
    border: 1px solid #ccc;
    padding: 0 8px 0 8px;
    margin: 6px 0 18px 0;
    line-height: 1.5;
    border-radius: 3px;
    background-color: #f7f7f7;
    background-image: none;
    &:focus{
        background-color: #fff;
        border-color: #939393;
        outline: 0;
    }
    &.input-ok{
        padding: 0 24px 0 8px;
        background-image: url('../img/input-ok.svg');
        background-position: right center;
        background-repeat: no-repeat;
    }
}
.select-fresh{
    font-family: $font-Mont-Regular;
    font-weight: 400;
    font-size: 13px;
    color: #333;

    appearance: none;
    background-size: initial;
    background-repeat: no-repeat;
    background-position: center right 4px;
    background-image: url('../img/arrow-down.svg');
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 32px;
    padding: 0 8px;
    margin-top: 6px;
    margin-bottom: 18px;
    background-color: #f7f7f7;
    &:focus{
        background-color: #fff;
        border-color: #939393;
        outline: 0;
    }
}
.radio-fresh{
    clip: rect(0 0 0 0);
    left: -30px;
    overflow: hidden;
    position: absolute;
    padding: 0;
    z-index: -1;
    &:checked + label{
        background: url('../img/radio-selected.svg') no-repeat;
        background-position: 0;
    }
    &+label{
        font-family: $font-Mont-Regular;
        font-weight: 400;
        font-size: 14px;
        color: #666;
        cursor: pointer;
        padding-left: 28px;
        margin-top: 12px;
        margin-bottom: 24px;
        background: url('../img/radio.svg') no-repeat;
        background-position: 0;
    }
    &.rad-green{
        &:checked + label{
            background: url('../img/radio-selected-green.svg') no-repeat;
            background-position: 0;
        }
    }
}
.check-fresh{
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;
    border: 0;
    opacity: 0;
    &:checked+.check-label{
        &:before{
            border: 1px solid #f50;
            border-radius: 3px;
            background-color: #f50;
        }
        &:after{
            position: absolute;
            content: '\f00c';
            font: normal normal normal 14px/1 FontAwesome;
            font-size: 8px;
            color: $white;
            top: 0;
            left: -24px;
            height: 18px;
            width: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &+.check-label{
        margin: 12px 0 16px 24px;
        position: relative;
        cursor: pointer;
        font-family: $font-Mont-Regular;
        font-weight: 400;
        font-size: 12px;
        padding: 0 4px;
        &:before{
            content: ' ';
            position: absolute;
            left: -24px;
            width: 18px;
            height: 18px;
            display: block;
            background: #fff;
            border: 1px solid #ccc;
            border-radius: 3px;
        }
        span{
            font-family: $font-Mont-Regular;
            font-weight: 400;
            font-size: 12px;
        }
        a{
            font-family: $font-Mont-Regular;
            font-weight: 400;
            font-size: 12px;
            color: $primary-orange;
        }
    }
}
.toogle-checkbox{
    display: inline-block;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
    position: relative;
    width: 40px;
    height: 20px;
    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        background-image: url('../img/input-ok-blanco.svg');
        background-repeat: no-repeat;
        background-position: center center;
        z-index: 1;
    }
    &:after{
        content: 'x';
        position: absolute;
        top: 0;
        right: 0;
        width: 20px;
        height: 20px;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: verdana,Arial, Helvetica, sans-serif;
        font-size: 12px;
        padding: 0 0 1px 0;
    }
    .checkbox-fresh{
        margin-top: 0;
        margin-bottom: 0;
        height: 0;
        opacity: 0;
        &:checked+.toggle-slider{
            background-color: #45a00a;
            &:before{
                transform: translateX(20px);
            }
        }
    }
    .toggle-slider{
        border-radius: 3px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #666;
        transition: .4s;
        &:before{
            content: '';
            position: absolute;
            z-index: 3;
            height: 16px;
            width: 16px;
            left: 2px;
            bottom: 2px;
            background-color: #fff;
            transition: .4s;
        }
    }
}
.btn-form1{
    font-family: $font-Mont-Regular;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    background: $primary-orange;
    width: 100%;
    min-height: 32px;
    border-radius: 3px;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    &:hover,
    &:active{
        color: #fff;
        background-color: #c40;
        border-color: #c24100;
    }
    i{
        margin: 0 5px 0 0;
        font-size: 16px;
    }
}
.btn-form2{
    // flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: $font-Mont-Regular;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: #333;
    border-radius: 3px;
    background-color: #fff;
    user-select: none;
    width: 100%;
    height: 32px;
    cursor: pointer;
    padding: 4px 8px 4px 8px;
    border: 1px solid rgba(51,51,51,1);
    @include respondto(minxs) {
        margin-bottom: 12px;
    }
    @include respondto(maxxs) {
        margin-bottom: 12px;
    }
    @include respondto(sm) {
        margin-bottom: 18px;
    }
    @include respondto(md) {
        margin-bottom: 18px;
    }
    @include respondto(lg) {
        margin-bottom: 18px;
    }
    &:hover,
    &:active{
        color: #fff;
        background-color: #333;
        border-color: #333;
    }
}

